@import "~bootstrap/dist/css/bootstrap.css";
h1 {
    color: #152536;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 50px;
}

h2 {
    margin-top: 10%;
    font-size: 55px;
    font-family: 'Inter';
    font-weight: bold;
}

h3 {
    font-family: 'Inter';
}

h4 {
    font-weight: bold;
    font-size: 50%;
    display: inline;
    letter-spacing: 0.1rem;

}

.navbar {
    background-color: #7749F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 650;
    line-height: 28px;
}

.title {
    color: #152536;
    letter-spacing: -0.04em;
    position: relative;
    width: 1110px;
    height: 0px;
    left: 0px;
    top: 12px;
    font-size: bold;
    font-weight: 500%;

    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    
    flex: none;
    order: 1;
    align-self: flex-end;
    flex-grow: 0;
    margin: 0px 0;
    padding: 45px 0;
    line-height: 5%;
}

.task {
    color: #152536;
    position: relative;
    width: 505px;
    height: 72px;
    left: 710px;
    top: 1%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.btn {
   // margin-top: 1%;
    border-radius: 4px;
}
.dropdown-menu{
    max-width: 1rem;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]~label::before {
    color: #33A;
    content: "\f192";
    font-family: "FontAwesome";
}

input[type=checkbox]:checked~label::before {
    color: #33A;
    content: "\f058";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 8px;
}
ul {
    list-style-type: none;
}

#auxform {
    display: none;
}

input[type=checkbox]:checked+label.strikethrough {
    text-decoration: line-through;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
